@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.custom-Nav{
  background-color: rgb(0,129,255);
  padding: 1vh 25vh;
}

.title{
  font-size: 36px;
  font-weight: bold !important;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 5px 10px rgb(56, 55, 55);
}

.link{
  text-decoration: none;
}

.white, .links p, h2{
  color:white;
}

a{
  font-size: 18px;
}

.custom-button{
  background-color: rgb(65,65,65);
  font-family: 'Raleway', sans-serif;
}

.footer{
  background-color: rgb(65,65,65);
  padding: 5vh 25vh;
}

.app-store{
  height:40px;
  width:auto;
  padding-left: 5vh;
}

.app-stores{
  display: flex;
  justify-content:flex-end;
}

.social-icon{
  height: 30px;
  width:auto;
  padding-right:5vh;
}

.social-icons, .links, .copyright{
  display: flex;
  justify-content: flex-start;
}

.links p{
  padding-right: 20px;
}

.media-links{
  padding-top: 5vh;
}


.homeContainer{
  padding: 5vh 25vh;
}


.card{
  height: 35vh;
  width: 24vh;
  background-color: rgb(30,30,30);
  border-radius: 0;
  background-image: url(assets/placeholder.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p{
  font-weight: bold;
}

.cardTitle{
  display: flex;
  justify-content: flex-start;
}

/*mobile size*/
@media (max-width: 767px) { 

  .custom-Nav{
    background-color: rgb(0,129,255);
    padding: 0 5vh;
  }

  .footer{
    background-color: rgb(65,65,65);
    padding: 5vh 5vh;
  }

  .social-icons, .links, .copyright, .app-stores{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .feedCard{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  .social-icon{
    height: 20px;
    width:auto;
    padding-right:5vh;
  }
 }

 /*tablet size*/
 @media (min-width: 768px) and (max-width: 992px) { 
  .custom-Nav{
    background-color: rgb(0,129,255);
    padding: 1vh 20vh;
  }
  .social-icons, .links, .copyright, .app-stores{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a{
    padding-right: 3vh;
  }
 }

   /*desktop*/
 @media (min-width: 993px) { 
  a{
    padding-right: 5vh;
  }
 }